<ul class="nav-menu">
    <li><a href="/">Task Board</a></li>
    <li><a href="/agents">Agents</a></li>
    <li><a href="/missions">Missions</a></li>
    <li><a href="/activity">Activity Feed</a></li>
    <li><a href="/decisions">Decisions</a></li>
    <li><a href="/inbox">Inbox</a></li>
    <li><a href="/settings">Settings</a></li>
</ul>
